body{
	background-color: #dad9d4;
}

a img{
	margin-top: 0.5%;
	margin-left: 0.5%;
}
#myTable{
	width: 85%;
	border: 1px solid #cef;
	text-align: left;
	margin-left: 8%;


}
th {
	font-weight: bold;
	background-color: #acf;
	border-bottom: 1px solid #cef; 
}

td,th {
	padding: 4px 5px; 
}

tr:nth-child(odd) {
  background-color: white;
}


#frame{
	display: block;
	background-image: url("banner-background.png");
	background-size: 65px;
	height: 65px;
}

#banner{
	background-color: black;
	color: red;
	font-size: 24px;
	font-weight: bold;
}

img.kb{
	display: block;
	height: 425px;
	width: 340px;
    margin: auto;
}
form{
	width: 340px;
    margin: auto;
}

h1, p{
	display: block;
	text-align: center;
}